<template>
    <div>
        <div class="form-group">
            <label for="URL">URL</label>
            <input type="text" class="form-control" id="URL" placeholder="Enter URL" v-model="url">
        </div>
        <div class="form-group" v-if="link">
            <label for="shortLink">Short link</label>
            <input type="text" class="form-control" id="shortLink" v-model="link">
            <a :href="link" class="btn btn-link" target="_blank">{{ link }}</a>
        </div>
        <div>
            <button class="btn btn-success" @click="shorten">Shorten URL</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UrlShortener",

        data() {
            return {
                url: '',
                link: ''
            }
        },

        methods: {
            shorten() {
                axios.post('/shorten', { url: this.url })
                    .catch(error => {
                        console.log(error.response.data);
                    })
                    .then(({data}) => {
                        this.link = data.link;
                    });
            }
        }
    }
</script>

<style scoped>

</style>